<div class="container mt-4">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        [(ngModel)]="loginRequest.email"
        name="email"
        required
      />
    </div>
    <div class="form-group mt-3">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        [(ngModel)]="loginRequest.password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Login</button>
    <br>
    <button onclick="location.href='/register'" class="btn btn-primary mt-4">Register</button>
  </form>
</div>
