<div class="container mt-4">
  <h2>{{ blogEntry.id != 0 ? 'Edit Blog Entry' : 'Create Blog Entry' }}</h2>
  <form (ngSubmit)="saveBlogEntry()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        [(ngModel)]="blogEntry.title"
        name="title"
        required
      />
    </div>
    <div class="form-group mt-3">
      <label for="content">Content</label>
      <textarea
        id="content"
        class="form-control"
        [(ngModel)]="blogEntry.content"
        name="content"
        rows="6"
        required
      ></textarea>
    </div>
    <div class="form-group mt-3">
      <label for="categories" class="form-label">Select Categories:</label>
      <select id="categories" class="form-select" multiple [(ngModel)]="blogEntry.categories" name="categories">
        <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
      </select>
      <small class="form-text text-muted">Hold down the Ctrl (Windows) or Command (Mac) button to select multiple options.</small>
    </div>    
    <button type="submit" class="btn btn-primary mt-4">
      {{ blogEntry.id != 0 ? 'Update' : 'Create' }}
    </button>
  </form>
</div>
